
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gameButton {
  border: medium solid white;
  border-radius: 10em;
  border-width: 0.4em;
  padding: 1%;
  font-size: xx-large ;
  font-weight: bolder;
  background-color:rgba(245, 245, 245, 0.377);/* background: white; */
  text-align: center;
}
html, body{min-height:100%;}
body{height:100vh;}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
